.Card3 {
    background-color: black;
    font-weight: lighter;
    color: white;
    padding: 20px; 
}

.Card3-2 {
    background-color: gray;
    font-weight: lighter;
    color: white;
    padding: 20px; 
}
